@import 'themify';
@include themify(){
    .main {
        border: 1px solid black;
        box-sizing: border-box;
        background-color: themed('bg');
    }

    .title{
        color: themed('txt1');
    }

    .subtitle{
        color: themed('txt2');
    }
}