@import '../tokens';

/*
 * Implementation of themes
 */
@mixin themify($themes: $themes) {
  @each $theme, $map in $themes {

      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), $key);
        $theme-map: map-merge($theme-map, (#{$key}: $value)) !global;
      }

      @at-root #{&}_#{$theme}{
        @content;
      }

      $theme-map: null !global;
    }

}

@function themed($key) {
  @return map-get($theme-map, $key);
}